#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
}

#container > div {
  list-style: none;
  padding: 2rem;
  border: grey 3px solid;
  height: 15rem;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}

#container > div > h3 {
  width: 30%;
  background-color: grey;
  height: 10%;
  padding: 1rem;
  border-radius: 3px;
  color: white;
}
#container > div > a {
  margin: auto 0 auto auto;
}

#container > div > a > img {
  max-width: 15rem;
  max-height: 15rem;
}
